* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1590674639208-5b18282d04e5?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#nav {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}
#nav h2 {
    font-size: 30px;
}
#nav i {
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#full {
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.348);
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 50px;
}

#full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color:white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
}